




#grid {
    height: 98vh;
    width: 98vw;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}

#logo {

    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: xx-large;
    padding-left: 20px;


}

#nav-items {

    grid-area: 1 / 4 / span 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    grid-area: 1 / 6 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

#nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: auto 5px;
    font-size: medium;
}

/* .box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
} */

