

/* .box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
} */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#grid {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

#logo {

    grid-area: 1 / 1 / span 1 / span 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: xx-large;
    padding: 20px;
}

#nav-items {

    grid-area: 1 / 7 / span 1 / span 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    grid-area: 1 / 12 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

#nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.nav-item {
    margin: auto 5px;
    font-size: medium;
}

#text {
    grid-area: 2 / 12 / span 10 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text span {
    font-size: large;
    white-space: nowrap;
    -webkit-transform:rotate(90deg);
}

#title {
    grid-area: 4 / 7 / span 2 / span 5;
}

#title h2 {
    font-weight: bold;
    font-size: x-large;
}

#button {
    grid-area: 6 / 7 / span 1 / span 1;
    display: flex;
    align-items: flex-start;
}

#button button {
    font-size: larger;
}
