/* Colors*/

.transparent {
  background-color: transparent !important;
}

.white {
  background-color: white !important;
}

.blue {
  background-color: rgb(0, 132, 255) !important;
}

.gray {
  background-color: rgb(58, 57, 68) !important;
}

.blue-text {
  color: rgb(70, 166, 255) !important;
}

.gray-text {
  color: rgb(58, 57, 68) !important;
}

.black-text {
  color: #000000 !important;
}

.white-text {
  color: #FFFFFF !important;
}

/* Basic Style*/

html,body{
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
  line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}

button,
input,
optgroup,
select,
textarea {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

figure {
  margin: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
					box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.3;
}

h1 {
	font-size: 4.2rem;
	line-height: 110%;
	margin: 2.8rem 0 1.68rem 0;
}

h2 {
	font-size: 3.56rem;
	line-height: 110%;
	margin: 2.3733333333rem 0 1.424rem 0;
}

h3 {
	font-size: 2.92rem;
	line-height: 110%;
	margin: 1.9466666667rem 0 1.168rem 0;
}

h4 {
	font-size: 2.28rem;
	line-height: 110%;
	margin: 1.52rem 0 0.912rem 0;
}

h5 {
	font-size: 1.64rem;
	line-height: 110%;
	margin: 1.0933333333rem 0 0.656rem 0;
}

h6 {
	font-size: 1.15rem;
	line-height: 110%;
	margin: 0.7666666667rem 0 0.46rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

a {
	color: #039be5;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

i {
  line-height: inherit;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  -webkit-transition: color .3s;
  transition: color .3s ease;
}

i:hover {
  color: rgb(147, 203, 255);
}

.right {
  float: right !important;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.light {
  font-weight: 300;
}

blockquote {
	margin: 20px 0;
	padding-left: 1.5rem;
	border-left: 5px solid #7b6eee;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.btn-large, .btn-small {
  border-radius: 2px;
  display: inline-block;
  line-height: 36px;
  padding: 0 28px;
  text-transform: uppercase;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn-large {
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  color: #fff;
  background-color: rgb(0, 132, 255);
}

.btn-small {
  height: 35px;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
  color: #fff;
  background-color: rgb(73, 73, 73);
}

.btn-large:hover {
  color: rgb(147, 203, 255);
  background-color: rgb(222, 238, 255);
}

.btn-small:hover {
  color: rgb(147, 203, 255);
  background-color: rgb(222, 238, 255);
}

/* 2dp elevation modified*/
.card-panel, .card, .btn-large, .btn-small {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-large:hover, .btn-small:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* View box border*/

 .box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/**
 * Background image
 */

.background {
  background-image: url('background4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/**
 * Navigation Bar
 */

nav .brand-logo {
  font-size: 2.1rem;
}

.navbar-fixed {
  width: 100%;
  line-height: 56px;
  z-index: 997;
  position: fixed;
  padding-top: 10px;
}

nav ul {
  margin: 0;
}

nav ul li {
  -webkit-transition: color .3s;
  transition: color .3s;
  float: left;
	list-style-type: none;
}

nav ul a {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: rgb(255, 255, 255);
  padding: 0 15px;
  cursor: pointer;
}

nav ul a:hover {
  color: rgb(147, 203, 255);
}

/**
 * Landing frame
 */

.landing-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(6, 1fr);
}

.text-wrapper {
  grid-area: 2 / 2 / span 2 / span 4;
}

.border {
  padding: 1rem;
  color: white;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom,white,rgba(0, 0, 0, 0)) 1 100%;
}

.landing-button {
  grid-area: 4 / 2 / span 2 / span 4;
}

/**
 * Blog frame
 */

.blog-wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: repeat(12, 1fr) / 1fr 3fr 3fr 1fr 4fr 1fr;
  background-image: url('background1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(213, 213, 213);
}


.blog-title {
  grid-area: 2 / 1 / span 1 / span 7;
  padding: 0;
  margin: 0;
}

/* Card*/

.card-wrap {
  grid-area: 4 / 2 / span 2 / span 2;
  width: 90%;
  max-width: 600px;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 10px;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  border-radius: 3px 3px 0 0;
  width: 100%;
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
}

.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 16px 24px;
}

.card .card-action a {
  color:  rgb(0, 132, 255);
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:hover {
  color:  rgb(154, 206, 255);
}

/* Blog info*/

.blog-info {
  grid-area: 4 / 5 / span 2 / span 1;
  padding-top: 10px;
}

.blog-info p {
  font-size: large;
}

/* Avatar*/

.circle {
  border-radius: 50%;
}

.avatar-img {
  width: 60%;
}

img.responsive-img {
  max-width: 60%;
}

/**
 * Info frame
 */

.info-wrapper {
  height: 67vh;
  width: 100vw;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-gap: 20px;
  background-color: white;
  margin: 0;
}

.info-title {
  grid-area: 1 / 1 / span 1 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-border {
  padding: 1.5rem;
  color: rgb(0, 0, 0);
  border-width: 0;
  border-left: 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom,rgb(0, 0, 0),rgba(0, 0, 0, 0)) 1 100%;
}

.info-subjects {
  grid-area: 2 / 2 / span 4 / span 4;
}

.info-subjects a {
  transition: color .3s ease;
}

.info-subjects a:hover {
  color: rgb(147, 203, 255);
}

/**
 * Footer
 */

.page-footer {
  display: grid;
  grid-template-areas: 2fr 1fr / 2fr 1fr;
  padding: 10px 0;
  color: #fff;
}

.subscribe {
  grid-area: 1 / 1 / span 1 / span 1 ;
  display: grid;
  grid-template-areas: repeat(4, 1fr) / 2fr 1fr;
}

.subscribe h5 {
  grid-area: 1 / 1 / span 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 110%;
}

.subscribe h6 {
  grid-area: 2 / 1 / span 1 / span 2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 110%;
  font-size: 14px;
  margin: 10px;
}

.subscribe-input {
  grid-area: 3 / 1 / span 1 / span 1;
  display: flex;
  justify-content: flex-end;
}

.subscribe-btn {
  grid-area: 3 / 2 / span 1 / span 1;
  margin-bottom: 10px;
}

.subscribe p {
  grid-area: 4 / 1 / span 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14;
}

input[type=text]:not(.browser-default) {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 80%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
}

::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

/* Social*/

 .social {
  grid-area: 1 / 2 / span 1 / span 1 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.footer-copyright {
  grid-area: 2 / 1 / span 1 / span 2 ;
  padding: 5px 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}





/**
 * Blog
 */

.header {
  opacity: .9;
  background-image: url("background4.jpg");
  background-color: white;
  background-attachment: fixed;
  background-position: bottom 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-fixed {
  position: static;
}

.header-items {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-wrap {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 25px;
  margin-bottom: 40px;
}

.article {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
}

.article h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
}
.article figure {

}

.date {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.article p {
  font-size: large;
}

.sig .avatar-img img {
  width: 15%;
}



