.box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

#logo {

    grid-area: 1 / 1 / span 1 / span 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: xx-large;
    padding-left: 20px;
}

#nav-items {

    grid-area: 7 / 11 / span 4 / span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu {
    grid-area: 1 / 11 / span 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

#nav-links {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    margin: auto 5px;
    font-size: medium;
}

#text {
    grid-area: 11 / 1 / span 2 / span 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#text span {
    padding-right: 20px;
    font-size: larger;
    -webkit-transform:rotate(-90deg);
}

#title {
    grid-area: 5 / 5 / span 2 / span 4;
}

#title h2 {
    font-weight: bold;
    font-size: x-large;
}

#button {
    grid-area: 7 / 5 / span 1 / span 1;
    display: flex;
    align-items: flex-start;
}

#button button {
    font-size: larger;
}


#blog-title {
    grid-area: 2 / 4 / span 2 / span 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog-card {
    grid-area: 5 / 3 / span 5 / span 8;
    display: flex;
    justify-content: center;
    align-items: center;
}
