/* .box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
} */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#grid {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}

#logo {

    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: xx-large;
    padding-left: 20px;
}

#nav-items {

    grid-area: 3 / 6 / span 2 / span 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}

#nav-links {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    margin: 0;

}

.nav-item {
    margin: auto 0;
    font-size: medium;
    -webkit-transform:rotate(-90deg);
}

#text {
    grid-area: 6 / 1 / span 1 / span 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#text span {
    padding-right: 20px;
    font-size: larger;
    -webkit-transform:rotate(-90deg);
}

#contact {
    grid-area: 1 / 6 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog {
    grid-area: 6 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects {
    grid-area: 6 / 6 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    grid-area: 3 / 2 / span 1 / span 2;
}

#title h2 {
    font-weight: bold;
    font-size: x-large;
}

#button {
    grid-area: 4 / 2 / span 1 / span 1;
    display: flex;
    align-items: flex-start;
}

#button button {
    font-size: larger;
}
