/* .box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
} */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#grid {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

#logo {
    grid-area: 1 / 2 / span 1 / span 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: xx-large;
}

#nav-items {
    grid-area: 12 / 5 / span 1 / span 4;
    display: flex;
    justify-content: space-evenly;
}

#nav-links {
    display: flex;
    list-style-type: none;
    font-size: medium;
}

.nav-item {
    margin: auto 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

#menu {
    grid-area: 1 / 11 / span 1 / span 1;
    font-size: 80px;
}

#contact {
    grid-area: 1 / 12 / span 6 / span 1;
}

#contact span {
    -webkit-transform:rotate(90deg);
}

#blog {
    grid-area: 1 / 1 / span 6 / span 1;
}

#blog span {
    -webkit-transform:rotate(-90deg);
}

#projects {
    grid-area: 7 / 1 / span 6 / span 1;
}

#projects span {
    -webkit-transform:rotate(-90deg);
}

#about-me {
    grid-area: 7 / 12 / span 6 / span 1;
}

#about-me span {
    white-space: nowrap;
    -webkit-transform:rotate(90deg);
}

#title {
    grid-area: 5 / 2 / span 2 / span 6;
}

#title h2 {
    font-weight: bold;
    font-size: x-large;
}

#button1 {
    grid-area: 7 / 2 / span 1 / span 1;
    display: flex;
    align-items: flex-start;
}

#button2 {
    grid-area: 6 / 3 / span 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button1 button {
    font-size: larger;
}
